<style type="text/css">
    .text{
        color: #b17d41;
    }
    .w-10{
        text-align: center;
        margin-top: 5%;
        margin-bottom: 3%;
    }
    .w-20{
        text-align: center;
        margin-top: 10%;
    }
    .p-font-size{
        font-size: 24px;
    }
    .row{
        display: contents;
    }
    .pfbg{
        background: #22272E;
    }
    .w-100 {
        width: 100%;
    }
    .blue{
        color: #118ab2;
    }
    .darkblue{
        color: #073b4c;
    }
    .orange{
        color: #ffd166;
    }
    .first-font-family {
        font-family: 'quicksand';
    }
    .second-font-family {
        /* font-family: 'cassandrapersonaluse'; */
    }
    .third-font-family {
        font-family: 'ekmukta';
    }
    .lastnameHeading p{
        margin: 0px;
    }
    .lastname-wrapper{
        font-family: 'Staatliches'
    }

</style>
@php
// if(!isset($coverPage['subTitle'])) $coverPage['subTitle'] = $coverPage['sub_title'];
// dd($coverPage['bg_image']);
$img = public_path($coverPage['bg_image']);
$bgImg = !empty($coverPage['bg_image']) && file_exists($img)?$img:public_path('pdf-images/backgrnd.png');
@endphp
{{-- <page backtop="7mm" backbottom="7mm" backleft="10mm" backright="10mm"> --}}
<page backtop="0mm" backbottom="15mm" backleft="12mm" backright="20mm" orientation="P" backimg="{{$bgImg}}" backimgx="5.2mm" backimgw="95.1%" backimgy="16mm" style="font-family:'Homemade Apple', sans-serif ;background:#fff;">
    <page_header>
        <div style="text-align: left;" class="section">
            {{-- <img style="width: 20%; height:60px; margin-top: 35px;margin-left:40px;" src="{{ public_path('/pdf-images/Logo-01.png') }}" alt=""> --}}
        </div>
    </page_header>
    <page_footer>
	 	<!-- <b>
	 		[[page_cu]]
      	</b> -->
          <table class="row" style="width:100%" cellpadding="12" cellspacing="0">
            <tr >
                {{-- <td style="width: 15%; padding: 5px;"></td> --}}
                <td class="darkblue fouth-fontfamily" style="padding:30px;height:100px;width: 100%;font-family: 'Staatliches', cursive; text-align: center; font-size: 26px; padding: 10px; background-image: url({{ public_path('pdf-images/transB.png') }});  background-repeat: no-repeat ; background-position: center; color:#fff;">
                    {!! str_replace("&lt;&lt; Last Name &gt;&gt;", familyName($coverPage['lastname']), str_replace("<< Last Name >>", familyName($coverPage['lastname']), $coverPage['sentence'])) !!}
                    {{-- <span style="font-weight: bold;">WHAT</span> <small>we stand for <span style="margin-left: 10px;"> </span></small>
                    <span style="font-weight: bold;"> WHAT </span> <small>we value </small> <span style="margin-left: 10px;"></span>
                    <small>and</small> <span style="margin-left: 10px;"> </span>
                    <span style="font-weight: bold;"> WHO </span> <small> we serve </small> --}}
                </td>
            </tr>
        </table>
        <table class="page_footer row pfbg" cellpadding="12" cellspacing="0">
            <tr>
                <td style="width: 50%; color: #fff; font-size: 18px;padding: 10px auto 10px 10px;"> The {!! $coverPage['lastname'] !!} Family Handbook</td>
                <td style="width: 10%; color: #fff; font-size: 18px;padding: 10px 10px 10px auto;">[[page_cu]]</td>
                <td style="width: 10%"></td>
                <td style="width: 30%; color: #fff; font-size: 18px;padding: 10px 10px 10px 10px;">
                    @php $logo = public_path("storage/".$logo) @endphp
                    @if (file_exists($logo))
                        {{-- <img style="height: 40px" src="{{ $
                            logo }}" alt=""> --}}
                        {{-- <img src="{{ $logo }}" alt="" height="40">  --}}
                        {{-- <p>Create Your Family Logo </p> --}}
                    @endif
                </td>
            </tr>
        </table>
    </page_footer>
    {{-- <div class="section"> --}}

        <table style="margin-top:70px;" class="row w-100" cellpadding="12" cellspacing="0">
            <tr>
                <!-- <td style="width: 10%; padding: 5px;"></td> -->
                <td valign="bottom" class="first-fontfamily" style="width: 100%; text-align: center; font-weight:bold; font-size: 56px; padding: 5px; color:white;">THE</td>
                {{-- <td class="orange lastnameHeading" valign="top" style="width: 100%; text-align: center; font-size: 72px; padding: 5px; color: #0024ff;">{!! $coverPage['lastname_heading'] !!}</td> --}}
            </tr>
        </table>
        <table class="row w-100" cellpadding="12" cellspacing="0">
            <tr>
                <!-- <td style="width: 18%; padding: 5px;"></td> -->
                <td class="orange lastnameHeading" valign="top" style="width: 100%; cursive; text-align: center; font-size: 72px; padding: 5px; color:white;">{!! $coverPage['lastname'] !!}</td>
            </tr>
        </table>
        <table class="row w-100" cellpadding="12" cellspacing="0">
            <tr>
                <!-- <td style="width: 15%; padding: 5px;"></td> -->
                <!-- <td class="blue" style="width: 25%; font-weight:bold; font-size: 32px; padding: 5px;">FAMILY</td>
                <td style="width: 30%; padding: 5px;"></td> -->
                <td class="blue first-fontfamily" style="width: 100%; font-weight:bold; text-align: center; font-size: 56px; padding: 5px; color:white;">FAMILY HANDBOOK</td>
            </tr>
        </table>
        {{-- <table style="margin-top: 50px;" class="row w-100" cellpadding="12" cellspacing="0">
            <tr>
                <td style="width: 10%; padding: 5px;"></td>
                <td class="blue first-fontfamily" style="width: 25%; font-weight:bold; font-size: 32px; padding: 5px;">THE</td>
            </tr>
        </table> --}}
        {{-- <table class="row w-100" cellpadding="12" cellspacing="0">
            <tr>
                <td style="width: 10%; padding: 5px;"></td>
                <td class="orange" style="width: 80%; font-family:cassandrapersonaluse; text-align: center; font-size: 80px; padding: 5px;">{!! $coverPage['lastname'] !!}</td>
            </tr>
        </table> --}}
        {{-- <table class="row w-100" cellpadding="12" cellspacing="0">
            <tr>
                <td style="width: 15%; padding: 5px;"></td>
                <td class="blue first-fontfamily" style="width: 25%; font-weight:bold; font-size: 32px; padding: 5px;">FAMILY</td>
                <td style="width: 30%; padding: 5px;"></td>
                <td class="blue first-fontfamily" style="width: 25%; font-weight:bold; font-size: 32px; padding: 5px;">HANDBOOK</td>
            </tr>
        </table> --}}
        <table style="margin-top: 10px;" class="row w-100" cellpadding="12" cellspacing="0">
            <tr>
                {{-- <td style="width: 10%; padding: 5px;"></td> --}}
                {{-- @php
                    $path = public_path('storage/'.$coverPage['image']);
                @endphp --}}
                {{-- {{ dd(public_path('storage/'.$coverPage['image'])) }} --}}
                {{-- @if (file_exists($path) && !empty($coverPage['image'])) background-image: url({{ public_path('pdf-images/frame.png') }}); @endif --}}
                <td style="width: 100%; text-align: center; padding: 40px; background-image: url({{public_path('pdf-images/frame-white.png')}}); background-repeat: no-repeat ; background-position:center;">
                    {{-- @if (file_exists($path) && !empty($coverPage['image'])) --}}
                    {{-- <div style="border:1px solid">     --}}
                        @if (file_exists(public_path('storage/'.$coverPage['image'])) && !empty($coverPage['image']))
                            <img height="290" width="300" src="{{ public_path('storage/'.$coverPage['image']) }}" alt="" style="object-fit:cover">
                        @else
                            <img height="290" width="300" src="{{ public_path('pdf-images/frame.png') }}" alt="" style="object-fit:cover">
                        @endif
                    {{-- </div> --}}
                      {{-- @endif --}}
                </td>
                {{-- <td style="width: 10%; padding: 5px;"></td> --}}
            </tr>
        </table>
        <table style="margin-top:20px;" class="row w-100" cellpadding="12" cellspacing="0">
            <tr>
                <td style="width: 10%; padding: 5px;"></td>
                <td class="blue third-fontfamily" style="width: 80%; font-family: 'Kalam', cursive; line-height:36px; text-align: center; font-size: 28px; padding: 5px; color:white;">
                    @php
                        $subTitle = "The Most Imporantant Things << Last Name >> Needs to Know About Being << Last Name >>";
                    @endphp
                    {!! str_replace("<< Last Name >>", familyName($coverPage['lastname'], true, "a"), $subTitle) !!}
                </td>
                <td style="width: 10%; padding: 5px;"></td>
            </tr>
        </table>
        <br><br>
        <table style="margin-top: 10px;" class="row w-100" cellpadding="12" cellspacing="0">
            <tr>
                <td style="width: 5%; padding: 5px;"></td>
                <td style="width: 5%; padding: 5px;"></td>
                <td style="width: 5%; padding: 5px;"></td>
            </tr>
        </table>

    {{-- </div> --}}
</page>
